*{color: whitesmoke;}
body{background-image: url(fond.png);
background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center;
cursor: url('pioche.png'), auto;
pointer-events: auto;
height: 500vh;
}

button {
    cursor: url('pioche.png'), auto;
    cursor: url('piochej.png'), auto;
}

.clicker{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

